In [1]:
# Only run this once (per session on the JupyterHub)
!pip install wbdata

import worldbankapi

# Create an instance of the WBData class.
# This will load the lists of Indicators and Countries
wbd = worldbankapi.WorldBankData()

DISCLAIMER:
This code may break at any time if either:
    1) The World Bank changes the format of their data
    2) Changes are made to the underlying wbdata library (https://github.com/OliverSherouse/wbdata)

Fetching data for Indicators...
Indicators succesfully fetched.

Fetching data for Countries...
Countries succesfully fetched.

---
### Search indicators for a term

In [2]:
wbd.search_indicators('greenhouse')

                                                                      name
id
EN.GHG.ALL.LU.MT.CE.AR5  Total greenhouse gas emissions including LULUC...
EN.GHG.ALL.MT.CE.AR5     Total greenhouse gas emissions excluding LULUC...
EN.GHG.ALL.PC.CE.AR5     Total greenhouse gas emissions excluding LULUC...
EN.GHG.TOT.ZG.AR5        Total greenhouse gas emissions excluding LULUC...

---

### View the full details of an indicator

Note that there may be cases, like this one, where things like the URLs provided in the documentaton are not valid. This one appears to be a combination of a typo/old data that might have been removed. For example, adjusting the end of the URLs to 2024 or 2025 both worked!

In [3]:
wbd.get_indicator_details('EN.GHG.ALL.LU.MT.CE.AR5')

id: EN.GHG.ALL.LU.MT.CE.AR5

name: Total greenhouse gas emissions including LULUCF (Mt CO2e)

unit:

source:

	id: 2

	value: World Development Indicators

sourceNote: A measure of annual emissions of the six greenhouse gases (GHG) covered by the Kyoto Protocol (carbon dioxide (CO2), methane (CH4), nitrous oxide (N2O), hydrofluorocarbons (HFCs), perfluorocarbons (PFCs), and sulphurhexafluoride (SF6)) from the energy, industry, waste, agriculture, and land use, land use changes, and forestry (LULUCF) sectors, standardized to carbon dioxide equivalent values. The measure is standardized to carbon dioxide equivalent values using the Global Warming Potential (GWP) factors of IPCC's 5th Assessment Report (AR5).

sourceOrganization: EDGAR (Emissions Database for Global Atmospheric Research) Community GHG Database, Joint Research Centre (JRC) - European Commission, uri: https://edgar.jrc.ec.europa.eu/dataset_ghg2032, publisher: JRC European Commission, date published: 2024;
European Forest Observatory, uri: https://edgar.jrc.ec.europa.eu/dataset_ghg2032, publisher: JRC European Commission, date published: 2024

topics: [{'id': '6', 'value': 'Environment '}]

---

### Include additional terms to refine the search

For example, searching for just "gdp" will return a long list of indicators that include phrases like "X, as a % of gdp".

This will only return indicators which contain both "gdp" and "per capita:

In [4]:
wbd.search_indicators(['gdp', 'per capita'])

                                                                name
id
NY.GDP.PCAP.CD                          GDP per capita (current US$)
NY.GDP.PCAP.CN                          GDP per capita (current LCU)
NY.GDP.PCAP.KD                    GDP per capita (constant 2015 US$)
NY.GDP.PCAP.KD.ZG                   GDP per capita growth (annual %)
NY.GDP.PCAP.KN                         GDP per capita (constant LCU)
NY.GDP.PCAP.PP.CD      GDP per capita, PPP (current international $)
NY.GDP.PCAP.PP.KD  GDP per capita, PPP (constant 2021 internation...
SE.XPD.PRIM.PC.ZS  Government expenditure per student, primary (%...
SE.XPD.SECO.PC.ZS  Government expenditure per student, secondary ...
SE.XPD.TERT.PC.ZS  Government expenditure per student, tertiary (...

---

### Search for countries by name

This function will return countries that matched _any_ of the search terms:

In [5]:
wbd.search_countries(['united', 'green', 'germ'])

                     name
id
ARE  United Arab Emirates
DEU               Germany
GBR        United Kingdom
GRL             Greenland
USA         United States

---

### Search aggregations of countries

This includes everything from regions (e.g., North Africa) to incomes (e.g., high income).

Unfortunately, there does not seem to be a way in the API to determine which countries belong to which aggregations. You might have to search their website/documentation for that data.

In [6]:
wbd.search_aggregations(['africa'])

                                                  name
id
AFE                        Africa Eastern and Southern
AFR                                             Africa
AFW                         Africa Western and Central
BMN  Middle East, North Africa, Afghanistan & Pakis...
BSS           Sub-Saharan Africa (IBRD-only countries)
CAA            Sub-Saharan Africa (IFC classification)
CME  Middle East and North Africa (IFC classification)
DMN  Middle East, North Africa, Afghanistan & Pakis...
DNS  IDA countries in Sub-Saharan Africa not classi...
DSF  IDA countries in Sub-Saharan Africa classified...
DSS        Sub-Saharan Africa (IDA-eligible countries)
FXS  IDA countries classified as fragile situations...
MEA  Middle East, North Africa, Afghanistan & Pakistan
MNA  Middle East, North Africa, Afghanistan & Pakis...
NAF                                       North Africa
NRS     Non-resource rich Sub-Saharan Africa countries
NXS  IDA countries not classified as fragile situat...
RRS         Resource rich Sub-Saharan Africa countries
SSA         Sub-Saharan Africa (excluding high income)
SSF                                Sub-Saharan Africa
SXZ          Sub-Saharan Africa excluding South Africa
TMN  Middle East, North Africa, Afghanistan & Pakis...
TSS          Sub-Saharan Africa (IDA & IBRD countries)
XZN  Sub-Saharan Africa excluding South Africa and ...

In [7]:
wbd.search_aggregations(['income'])

                                                  name
id
BHI           IBRD countries classified as high income
EAP        East Asia & Pacific (excluding high income)
ECA      Europe & Central Asia (excluding high income)
HIC                                        High income
LAC  Latin America & Caribbean (excluding high income)
LIC                                         Low income
LMC                                Lower middle income
LMY                                Low & middle income
MIC                                      Middle income
MNA  Middle East, North Africa, Afghanistan & Pakis...
SSA         Sub-Saharan Africa (excluding high income)
UMC                                Upper middle income

---

### Get lists of all countries or aggregations.

Provided for convenience in case you need it for something.

In [8]:
# View all available countries and codes
wbd.get_country_list()[:10] # Truncating to the first 10 for this example

[('ABW', 'Aruba'),
 ('AFG', 'Afghanistan'),
 ('AGO', 'Angola'),
 ('ALB', 'Albania'),
 ('AND', 'Andorra'),
 ('ARE', 'United Arab Emirates'),
 ('ARG', 'Argentina'),
 ('ARM', 'Armenia'),
 ('ASM', 'American Samoa'),
 ('ATG', 'Antigua and Barbuda')]

In [9]:
# View all available aggregations and codes
wbd.get_aggregate_list()[:10] # Truncating to the first 10 for this example

[('AFE', 'Africa Eastern and Southern'),
 ('AFR', 'Africa'),
 ('AFW', 'Africa Western and Central'),
 ('ARB', 'Arab World'),
 ('BEA', 'East Asia & Pacific (IBRD-only countries)'),
 ('BEC', 'Europe & Central Asia (IBRD-only countries)'),
 ('BHI', 'IBRD countries classified as high income'),
 ('BLA', 'Latin America & the Caribbean (IBRD-only countries)'),
 ('BMN', 'Middle East, North Africa, Afghanistan & Pakistan (IBRD only)'),
 ('BSS', 'Sub-Saharan Africa (IBRD-only countries)')]

---

### Getting the data

Once you know which countries and indicators you want, you can use the `get_data` function.

- You must specify at least one indicator.
- If you do not provide any countries, results will include _all_ countries.

In [10]:
# Specify one or more indicators
indicators = ['NY.GDP.PCAP.KD', 'EN.GHG.ALL.PC.CE.AR5']

# Specify countries
countries = ['USA', 'AUS']

# Send the request. Results are returned as a pandas DataFrame
data = wbd.get_data(indicators, countries)

Fetching data for NY.GDP.PCAP.KD...
NY.GDP.PCAP.KD succesfully fetched.

Fetching data for EN.GHG.ALL.PC.CE.AR5...
EN.GHG.ALL.PC.CE.AR5 succesfully fetched.

In [11]:
# View the results
data

,country_iso3,country_name,indicator_id,indicator_name,year,value,unit,obs_status,decimal
0,AUS,Australia,NY.GDP.PCAP.KD,GDP per capita (constant 2015 US$),2024,61211.896764,,,1
1,AUS,Australia,NY.GDP.PCAP.KD,GDP per capita (constant 2015 US$),2023,61598.177609,,,1
2,AUS,Australia,NY.GDP.PCAP.KD,GDP per capita (constant 2015 US$),2022,61009.807715,,,1
3,AUS,Australia,NY.GDP.PCAP.KD,GDP per capita (constant 2015 US$),2021,59276.503107,,,1
4,AUS,Australia,NY.GDP.PCAP.KD,GDP per capita (constant 2015 US$),2020,58132.798524,,,1
...,...,...,...,...,...,...,...,...,...
255,USA,United States,EN.GHG.ALL.PC.CE.AR5,Total greenhouse gas emissions excluding LULUC...,1964,NaN,,,1
256,USA,United States,EN.GHG.ALL.PC.CE.AR5,Total greenhouse gas emissions excluding LULUC...,1963,NaN,,,1
257,USA,United States,EN.GHG.ALL.PC.CE.AR5,Total greenhouse gas emissions excluding LULUC...,1962,NaN,,,1
258,USA,United States,EN.GHG.ALL.PC.CE.AR5,Total greenhouse gas emissions excluding LULUC...,1961,NaN,,,1
259,USA,United States,EN.GHG.ALL.PC.CE.AR5,Total greenhouse gas emissions excluding LULUC...,1960,NaN,,,1

In [12]:
# Save the results to a .csv file:
data.to_csv('example1.csv', index=False)

In [60]:
# Alternatively, get data for all countries by only specifying indicators
#  This may take a bit longer!

#indicators = ['NY.GDP.PCAP.KD', 'EN.GHG.ALL.PC.CE.AR5']
#data = wbd.get_data(indicators)
#data

Fetching data for NY.GDP.PCAP.KD...
NY.GDP.PCAP.KD succesfully fetched.

Fetching data for EN.GHG.ALL.PC.CE.AR5...
EN.GHG.ALL.PC.CE.AR5 succesfully fetched.

,country_iso3,country_name,indicator_id,indicator_name,year,value,unit,obs_status,decimal
0,ABW,Aruba,NY.GDP.PCAP.KD,GDP per capita (constant 2015 US$),2024,NaN,,,1
1,ABW,Aruba,NY.GDP.PCAP.KD,GDP per capita (constant 2015 US$),2023,31178.473679,,,1
2,ABW,Aruba,NY.GDP.PCAP.KD,GDP per capita (constant 2015 US$),2022,29917.128029,,,1
3,ABW,Aruba,NY.GDP.PCAP.KD,GDP per capita (constant 2015 US$),2021,27469.005622,,,1
4,ABW,Aruba,NY.GDP.PCAP.KD,GDP per capita (constant 2015 US$),2020,21947.995330,,,1
...,...,...,...,...,...,...,...,...,...
28205,ZWE,Zimbabwe,EN.GHG.ALL.PC.CE.AR5,Total greenhouse gas emissions excluding LULUC...,1964,NaN,,,1
28206,ZWE,Zimbabwe,EN.GHG.ALL.PC.CE.AR5,Total greenhouse gas emissions excluding LULUC...,1963,NaN,,,1
28207,ZWE,Zimbabwe,EN.GHG.ALL.PC.CE.AR5,Total greenhouse gas emissions excluding LULUC...,1962,NaN,,,1
28208,ZWE,Zimbabwe,EN.GHG.ALL.PC.CE.AR5,Total greenhouse gas emissions excluding LULUC...,1961,NaN,,,1
28209,ZWE,Zimbabwe,EN.GHG.ALL.PC.CE.AR5,Total greenhouse gas emissions excluding LULUC...,1960,NaN,,,1

In [61]:
#data.to_csv('example2.csv', index=False)